MAX_BOT = 300
DEVS = 1322982688
API_ID = 
API_HASH = 
BOT_TOKEN = 
OWNER_ID = 1322982688
OWNER_NAME = fanzy
OWNER_LINK = t.me/slyt6c
OWNER_USERNAME = @slyt6c
BLACKLIST_CHAT = -1003852920615
RMBG_API = HLGwGfoK59bxXCaAkU56tg78
MONGO_URL = 
BOT_FOOTER = ᖫ fanzy userbot-premium ᖭ
LOGS_MAKER_UBOT = -1003674427063
